.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

.forgotLink {
  color: var(--color-texto);
  font-size: 13px;
  margin: 15px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
}

.forgotLink:hover {
  color: var(--color-secundario);
}

.message {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  height: 20px;
}

.success {
  color: var(--color-secundario);
}

.error {
  color: var(--color-error);
}
