.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: 'Orbitron', sans-serif;
}

.subtitle {
  font-size: 12px;
  color: var(--color-texto);
  margin-bottom: 10px;
}

.message {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  height: 20px;
}

.success {
  color: var(--color-secundario);
}

.error {
  color: var(--color-error);
}
