.inputWrapper {
  width: 100%;
  margin: 2px 0;
}

.input {
  background-color: var(--color-fondo-oscuro);
  border: 1px solid #444;
  color: var(--color-texto);
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: var(--color-principal);
  box-shadow: 0 0 0 2px rgba(30, 144, 255, 0.2);
}

.input.error {
  border-color: var(--color-error);
}

.errorMessage {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 4px;
}

